*
{
	margin: 0;
	padding: 0;

}

.contener
{
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color:yellow;
	grid-gap: 10px;
}
.div1{
	height: 70px;
	grid-column: 1 / 12;
	}
.div2{
	height: 70px;
	grid-column: 2 / 6;
	}