div
{
	background-color: gray;
	
	
}
.parent
{
	display: grid;
	grid-template-columns:repeat(4,7fr);

	grid-gap: 5px;
}
.comment
{

	grid-template-columns:repeat(2,3);
	margin-left: 20px;
}
.form
{
	margin-top: 20px;
 grid-template-columns:1fr;
	
	
}
input
{
	width: 600px;
}
textarea
{
	height: 150px;
}