*
{
  margin: 0;
  padding:0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: ghostwhite;
}
a{
  text-decoration: none;
}
.container {
    display : flex;
    width : 100%;
    justify-content: space-between;
    margin: 0 auto;
}

img{border-radius: 360px;
background-color: yellow;}